jax == 0.4.3
jaxlib == 0.4.3
tensorflow_probability
numpy == 1.21.6
matplotlib
configargparse
scikit-learn
imageio == 2.19.3
imageio-ffmpeg
# imagemagick
tensorflow[and-cuda]
# tensorflow-gpu == 2.8.0
# scikit-learn<=1.02
# matplotlib<=3.5.2
# imageio<=2.21.1
# imageio-ffmpeg<=0.4.7
# configargparse<=1.5.3
